################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/.angular/cache/15.0.1/babel-webpack
