
.textField {
    width: 90%;
    min-height: 70%;
}

.asociadoInput {
    min-width: 80%;
    min-height: 100%;
}

.asociadoRow {
    padding-left: 3%;
    padding-bottom: 2.5%;
}

.btnSubmit {
    padding-left: 25%;
    
}

.infoAsociado {
    min-height: 100%;
}

.asociados {
    padding:2%;
}


.form-container {
    display: flex;
    width: 100%;
}

.form-block {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3%;
    padding-bottom: 0px;
    font-size: 14px;
}

.formImages {
    padding-top: 3%;
    min-height: 100%;
}

#table {
    width: 100%;
} 

.no_pointer_events {
    pointer-events:none;
}